<h2>List of Campaigns</h2>

<% if @campaigns.present? %>
  <ul>
    <% @campaigns.each do |campaign| %>
      <li><%= link_to @campaign.title, campaign_path(@campaign) %></li>
    <% end %>
  </ul>
<% end %>
