input[type="submit"],
button {
  @extend .btn;
  @extend .waves-effect;
  @extend .waves-light;
}

select {
  display: block;
}

.help-text {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 14px;
  font-style: italic;
  position: relative;
  top: -14px;
}
