<h2>Organization: <%= @organization.name %></h2>

<div class="description">
  <%= @organization.description.html_safe %>
</div>

<% if @organization.campaigns.present? %>
  <h3>Campaigns</h3>

  <ul>
    <% @organization.campaigns.each do |campaign| %>
      <li><%= link_to campaign.name, campaign_path(campaign) %></li>
    <% end %>
  </ul>
<% end %>
